<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/headphones"
        android:label="@string/app_name"
        android:roundIcon="@drawable/headphones"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        tools:targetApi="31">
        <activity
            android:name=".ui.theme.screens.account.accountscreen"
            android:exported="false"
            android:label="@string/title_activity_accountscreen"
            android:theme="@style/Theme.Ecommerce" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Ecommerce">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.theme.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Ecommerce" />
        <activity
            android:name=".ui.theme.screens.productdetails.productdetailsscreen"
            android:exported="false"
            android:label="@string/title_activity_pruductdetailsscreen"
            android:theme="@style/Theme.Ecommerce" />
        <activity
            android:name=".ui.theme.screens.payment.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
    </application>

</manifest>